<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
    <head>
        <!-- <link rel="icon" href="logo.png" /> -->
        <title>Capitalstore</title>
    </head>
    <body>
    <header>
      <%- include('../includes/navigation.ejs') %>
    </header>


    <main>
      <!-- v6 -->
      <form method="POST" action="/search" class="col col-11 col-sm-10 col-md-4 col-lg-3" style="margin:1% 0% 1% 2%; border:1px solid rgb(0,0,0,0.2); border-radius:10px">
        <ul style="list-style-type:none; padding:8% 6%; font-weight:bold">
          <li><h2>Search the products</h2></li>
          <li>
              <label class="mt-4" for="search">Keyword:</label>
              <input class="w-100 form-control" type="keyword" id="keyword" name="keyword" value="<%=typeof keyword !== 'undefined' ? keyword : ''%>"></input>
          </li>
          <li>
            <button type="submit" class="btn btn-warning w-100" style="border:1px solid rgb(0,0,0,0.2); border-radius:7px; font-weight:bold">
                Search
            </button>
          </li>
        </ul>
    </form>

        <% if (products.length > 0) { %>
          <div class="row m-0" style="padding: 0 7% 4% 7%">
            <% for (let product of products) { %>
                <div class="col col-lg-4 col-md-6 col-sm-12 col-12" style="height: 30rem; margin:2% 0%">
                  <div class="h-100 hvr-float-shadow" style="padding:2% 2%; width:80%; margin:0% 10%;">
                    <div style="height:67%;">
                    <img src="<%= product.getImageUrl() %>" class="img-fluid w-100 h-100 " style="object-fit:cover;"></img>
                    </div> 
                    <div><%= product.getName() %></div>
                    <div style="font-size:95%; color:gray">
                      <p><%= product.getDescription() %></p>
                    </div>
                    <div style="font-size:120; font-weight:bold; color:red" ><span>$</span><%= product.getPrice() %></div>

                    <div style="font-weight:bold; margin-bottom:3%"><%= product.getQuantity() %> items in the stock</div>
                    <hr style="border-top:1px solid rgba(0, 0, 0, 0.3)"></hr>

                    <% if (userType === 'admin') { %>
                      <form action="/sellerDeleteTheirProduct" method="POST">
                        <input type="hidden" name="productId" id="productId" value="<%=product.getId()%>">
                        <button class="btn btn-warning w-100" style="border:1px solid rgb(0,0,0,0.4); font-weight:bold">Delete</a>
                      </form>
                    <% } else { %>
                      <a href="/products/<%= product.getId() %>" class="btn btn-warning w-100" style="border:1px solid rgb(0,0,0,0.4); font-weight:bold">Details</a>
                    <% } %>
                  </div>
              </div>
            <% } %>
          </div>
        <% } %>
    </main>
             









<footer class="fixed-bottom">
    <nav class="navbar text-light position-absolute justify-content-center w-100" style="background-color: #000913; bottom: 0">
      <span class ="mt-1">All rights reserved.</span>
    </nav>
</footer>
</body>
</html>
